.popularPosts {
  margin-bottom: 30px;
  @media screen and (max-width: 768px) {
    margin-bottom: 50px;
  }
}

.popularArrowLeft {
  display: block;
  position: absolute;
  width: 48px;
  height: 48px;
  top: 166px;
  left: 20px;
  cursor: pointer;
  z-index: 10;
}

.popularArrowRight {
  display: block;
  position: absolute;
  width: 48px;
  height: 48px;
  top: 166px;
  left: -73px;
  cursor: pointer;
  z-index: 10;
}

.inner {
  width: 420px!important;
  @media screen and (max-width: 1024px) {
    width: 100%!important;
  }

  &:hover {
    .popularArrowLeft {
      display: block;
    }
  }
}

.innerBig {
  width: 758px!important;
  padding: 0 0 0 20px;
  @media screen and (max-width: 1024px) {
    width: 100%!important;
    padding: 0;
  }

  .popularTitle {
    width: 300px;
    box-sizing: border-box;
  }
}

.popularHeader {
  font: 400 22px/120% 'FreightText-BookItalic';
  color: #000000;
  margin-bottom: 15px;
  font-style: italic;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.popularPost {
  text-decoration: none;
  cursor: pointer;
}

.popularImg {
  position: relative;
  width: 100%;
  height: 360px;
  margin-bottom: 20px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .3s ease-out;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.popularTitle {
  font: 400 22px/130% 'Freight Display Pro';
  color: #000000;
  padding: 20px 10px;
  background: #ffffff;
  width: 300px;
  box-sizing: border-box;
}

.popularDesc {
  font: 400 15px/140% 'Arial';
  color: #000000;
}

.popularInfo {
  display: block;
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 9;

  a {
    font: 400 12px/12px  'GillSans';
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.popularTag {
  display: inline-block;
  padding: 5px 10px;
  background: #000000;
}

