.posts {
  width: 100%;
  position: relative;
  max-width: 880px;
  border-right: 1px solid rgba(161, 161, 170, 0.25);
  padding-bottom: 20px;
  @media screen and (max-width: 1024px) {
    max-width: 100%;
    border: none;
  }

  hr {
    display: block;
    margin: 20px 0 !important;
    color: rgba(161, 161, 170, 0.5);
    background-color: rgba(161, 161, 170, 0.5);
    border:0 none;
    height:1px;
    clear:both;
  }
}

.postWrapper {
  padding-right: 20px;
  @media screen and (max-width: 1024px) {
    padding-right: 0;
  }

  &Hr {
    display: block;
    margin: 20px 0;
    color: rgba(161, 161, 170, 0.5);
    background-color: rgba(161, 161, 170, 0.5);
    border: 0 none;
    height: 1px;
    clear: both;
  }

  &:last-child {
    hr {
      display: none;
    }
  }
}
