//.about {
//  &Img {
//    width: 100%;
//    height: 469px;
//    margin-top: 56px;
//    @media screen and (max-width: 768px) {
//      height: 320px;
//      margin-top: 40px;
//    }
//
//    img {
//      width: 100%;
//      height: 100%;
//      object-fit: cover;
//    }
//  }
//
//  &Name {
//    display: block;
//    font: 400 20px/120% 'GillSans';
//    color: #000000;
//    margin-top: 40px;
//  }
//
//  &Hr {
//    margin: 20px 0 35px;
//    color: rgba(161, 161, 170, 0.5);
//    background-color: rgba(161, 161, 170, 0.5);
//    border:0 none;
//    height:1px;
//    clear:both;
//  }
//
//  &Title {
//    font: 400 42px/120% 'Questrial';
//    color: #000000;
//    max-width: 540px;
//    margin-bottom: 20px;
//  }
//
//  &Description {
//    font: 400 18px/160% 'Freight Text Pro';
//    color: #000000;
//    max-width: 540px;
//    margin-bottom: 60px;
//  }
//}
