.modal {
  position: fixed;
  display: flex;
  justify-content: space-between;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  background: white;
  z-index: 19;
  box-sizing: border-box;
  padding: 30px 20px;
  transform: translateY(120vh);
  transition: all .7s;

  &Active {
    transform: translateY(0);
  }
}
