.modal {
  position: fixed;
  display: flex;
  justify-content: space-between;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  background: transparent;
  z-index: 19;
  box-sizing: border-box;
  transform: translateY(-120vh);
  transition: transform .7s ease;
  @media screen and (max-width: 768px) {
    display: none;
  }

  &MenuLogo {
    width: 100%;
    max-width: 224px;

    img {
      width: 100%;
    }
  }
  @media screen and (max-width: 768px) {
    max-height: 100%;
  }

  &Active {
    transform: translateY(0);
  }

  &Close {
    position: absolute;
    top: 30px;
    right: 20px;
    cursor: pointer;
  }

  &Menu {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 1198px;
    margin: 0 auto;
    max-height: 411px;
    background: white;
    padding: 30px 20px;
  }

  &MenuBlock {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

    a {
      font: 400 18px/140% 'GillSans';
      color: #000000;
      text-decoration: none;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &Icons {
    span {
      display: inline-block;
      font: 700 18px/140% 'GillSans';
      color: #000000;
      margin-bottom: 15px;
    }

    a {
      margin-right: 18px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
