.modal {
  position: fixed;
  display: flex;
  justify-content: space-between;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  background: white;
  z-index: 19;
  box-sizing: border-box;
  padding: 30px 20px;
  transform: translateY(120vh);
  transition: all .7s;

  &Active {
    transform: translateY(0);
  }

  &Menu {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

    a {
      font: 400 18px/140% 'Questrial';
      color: #000000;
      text-decoration: none;
      margin-bottom: 20px;
    }
  }

  &Icons {
    span {
      display: inline-block;
      font: 700 18px/140% 'Inter';
      color: #000000;
      margin-bottom: 15px;
    }

    a {
      margin-right: 18px;
    }
  }
}
