@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import "src/fonts/GillSans/stylesheet.css";
@import "src/fonts/freight-font/stylesheet.css";
@import "src/fonts/freight-text-pro/stylesheet.css";
@import "src/fonts/adobeGaramondPro/stylesheet.css";

html,
body,
button {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

button {
    border: none;
    box-shadow: none;
}

.toast-container {
  z-index: 109;
}

@media only screen and (max-width: 1150px) {
    html,
    body,
    button {
        font-size: 16px;
    }
}
