.slick-arrow {
  z-index: 4;
}

.slick-arrow.slick-prev, .slick-arrow.slick-next {
  width: 0;
  top: 0;
}

.slick-prev:before, .slick-next:before {
  display: none;
}

.slick-slider .slick-track {
  display: flex;
}

.cardArrowLeft {
  position: absolute;
  top: 265px;
  left: 20px;
}

.cardArrowRight {
  position: absolute;
  top: 265px;
  Right: 20px;
}

.slider-inner {
  margin-top: 20px;
}

.slider-inner .slick-track .slick-slide {
  width: 48px!important;
  margin-right: 10px;
  opacity: 0.6;
}

.slider-inner .slick-track .slick-slide.slick-current {
  opacity: 1;
}
