.slick-arrow {
  z-index: 4;
}

.slick-arrow.slick-prev, .slick-arrow.slick-next {
  width: 0;
  top: 0;
}

.slick-prev:before, .slick-next:before {
  display: none;
}

.cardArrowLeft {
  position: absolute;
  top: 265px;
  left: 20px;
}

.cardArrowRight {
  position: absolute;
  top: 265px;
  Right: 20px;
}
