.content {
    font: 400 18px/27px  'Freight Display Pro';
    color: rgb(68, 68, 68);
    flex: 1 0 auto;

    p {
      margin-bottom: 20px;
    }

    strong {
      font-weight: bold;
    }

    em {
      font-style: italic;
    }

    h1 {
      font: 700 24px/140%  'Freight Display Pro';
      margin-bottom: 20px;
    }

    h2 {
      font: 700 20px/140%  'Freight Display Pro';
      margin-bottom: 20px;
    }

    h3 {
      font: 700 18px/140%  'Freight Display Pro';
      margin-bottom: 20px;
    }

    a {
      font: 400 14px/140%  'Freight Display Pro';
      color: #000000;
    }

    img {
        max-width: 100%;
    }

    figure {
        margin-bottom: 1em;
    }

    ul {
      margin: 15px 0 15px 1em;

        li::before {
            position: absolute;
            left: 0;
            content: '•';
        }

        li {
            padding-left: 1em;
            position: relative;
            margin-bottom: 0.5em;
        }
    }

    ol {
      list-style: decimal;
      margin: 15px 0 15px 2em;

        li {
            margin-bottom: 0.5em;
        }
    }

    blockquote {
      border-left: #FFDE7D solid 4px;
      padding-left: 1em;
      margin: 15px 0 15px 1em;
    }
}
