.content {
    margin-bottom: 50px;
    font: 400 14px/140%  'Arial';
    color: #000000;

    p, a {
      font: 400 14px/140%  'Arial';
      color: #000000;

      strong {
        font-weight: bold;
      }

      em {
        font-style: italic;
      }
    }

    img {
        max-width: 100%;
    }

    figure {
        margin-bottom: 1em;
    }

    ul {
      margin: 15px 0 15px 1em;

        li::before {
            position: absolute;
            left: 0;
            content: '•';
        }

        li {
            padding-left: 1em;
            position: relative;
            margin-bottom: 0.5em;
        }
    }

    ol {
      list-style: decimal;
      margin: 15px 0 15px 2em;

        li {
            margin-bottom: 0.5em;
        }
    }

    blockquote {
      border-left: #FFDE7D solid 4px;
      padding-left: 1em;
      margin: 15px 0 15px 1em;
    }
}
