@font-face {
    font-family: 'FreightTextProMedium-Regular';
    src: url('FreightTextProMedium-Regular.woff2') format('woff2'),
        url('FreightTextProMedium-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

