.categoryPage {
  flex-grow: 1;
  padding: 56px 0 80px;
  @media screen and (max-width: 768px) {
    padding: 80px 0;
  }

  hr {
    margin: 0;
    color: rgba(161, 161, 170, 0.5);
    background-color: rgba(161, 161, 170, 0.5);
    border:0 none;
    height:1px;
    clear:both;
  }

  &__header {
    font: 400 22px/120% 'Freight Display Pro';
    color: #000000;
    margin-bottom: 20px;
    font-style: italic;

    span {
      display: inline-block;
      margin-top: 20px;
      padding-left: 86px;
      @media screen and (max-width: 1270px) {
        padding-left: 0;
      }
    }
  }

  &NotFound {
    font: 400 42px/120% 'Freight Display Pro';
    color: #000000;
    font-style: italic;
  }

  &Btn {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  &Block {
    display: flex;
    justify-content: flex-start;
    position: relative;
    align-items: flex-start;
    border-bottom: 1px solid rgba(161, 161, 170, 0.5);
    border-top: 1px solid rgba(161, 161, 170, 0.5);
  }
}
