.about {
  &Img {
    position: relative;
    width: 100%;
    height: 469px;
    margin-top: 56px;
    @media screen and (max-width: 768px) {
      height: 320px;
      margin-top: 80px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &Name {
    display: block;
    font: 400 20px/120% 'GillSans';
    color: #000000;
    margin-top: 40px;
  }

  &Hr {
    margin: 20px 0 35px;
    color: rgba(161, 161, 170, 0.5);
    background-color: rgba(161, 161, 170, 0.5);
    border:0 none;
    height:1px;
    clear:both;
  }

  &Title {
    font: 400 42px/120% 'Questrial';
    color: #000000;
    max-width: 540px;
    margin-bottom: 20px;
  }

  &Description {
    font: 400 20px/1.5em "Adobe Garamond Pro";
    color: #000000;
    max-width: 540px;
    margin-bottom: 60px;
  }
}

.searchPage {
  &Block {
    display: flex;
    justify-content: flex-start;
    position: relative;
    align-items: flex-start;
    border-bottom: 1px solid rgba(161, 161, 170, 0.5);
    border-top: 1px solid rgba(161, 161, 170, 0.5);
    margin-top: 56px;
    @media screen and (max-width: 1024px) {
      margin-top: 28px;
    }
  }

  &__header {
    font: 400 20px/120% 'Questrial';
    color: #000000;
    border-right: 1px solid rgba(161, 161, 170, 0.5);
    @media screen and (max-width: 1024px) {
      border-right: none;
    }

    &Text {
      display: block;
      margin: 20px 0;
      font: 400 22px/120% 'FreightText-BookItalic' ;
      color: #000000;
      padding-left: 86px;
      font-style: italic;
      @media screen and (max-width: 1270px) {
        padding-left: 0;
      }
    }
  }

  hr {
    margin: 0;
    color: rgba(161, 161, 170, 0.5);
    background-color: rgba(161, 161, 170, 0.5);
    border:0 none;
    height:1px;
    clear:both;
  }

  &NotFound {
    font: 400 40px/120% 'Questrial';
  }

  &Btn {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
}
