.mainPage {
  flex-grow: 1;
  padding: 56px 0 80px;
  @media screen and (max-width: 768px) {
    padding: 40px 0;
  }

  &Block {
    display: flex;
    justify-content: flex-start;
    position: relative;
    align-items: flex-start;
    border-bottom: 1px solid rgba(161, 161, 170, 0.5);
  }

  &__header {
    font: 400 20px/120% 'Questrial';
    color: #000000;

    span {
      display: block;
      margin-top: 30px;
      font: 400 22px/120% 'FreightText-BookItalic' ;
      color: #000000;
    }
  }

  hr {
    margin: 0;
    color: rgba(161, 161, 170, 0.5);
    background-color: rgba(161, 161, 170, 0.5);
    border:0 none;
    height:1px;
    clear:both;
  }

  &NotFound {
    font: 400 40px/120% 'Questrial';
  }

  &Btn {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
}
