.mainPage {
  flex-grow: 1;
  padding: 100px 0 80px;
  @media screen and (max-width: 768px) {
    padding: 60px 0 40px;
  }

  &__header {
    font: 400 20px/120% 'Questrial';
    color: #000000;
  }

  hr {
    margin: 20px 0 30px;
  }
}
