.hr {
  margin: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 0;

  &__form {
    display: flex;
    flex-direction: column;

    &_text {
      display: inline-block;
      font: 400 14px/140% 'Questrial';
      color: #000000;
      max-width: 283px;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    max-width: 430px;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 295px;
    margin-right: 41px;
    a {
      font: 400 14px/140% 'Questrial';
      color: #000000;
      text-decoration: none;
    }
  }

  &__icons a {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}
