.post {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  cursor: pointer;
  @media screen and (max-width: 900px) {
    flex-direction: column;
  }

  &ImagesBlock {
    position: relative;
    @media screen and (max-width: 900px) {
      width: 100%;
    }
  }

  &Img {
    position: relative;
    width: 533px;
    height: 386px;
    overflow: hidden;
    @media screen and (max-width: 1260px) {
      width: 360px;
      height: 360px;
    }
    @media screen and (max-width: 900px) {
      width: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform .3s ease-out;

      &:hover {
        transform: scale(1.05);
      }

      @media screen and (max-width: 1260px) {
        width: 360px;
        height: 360px;
      }
      @media screen and (max-width: 900px) {
        width: 100%;
      }
    }
  }

  &Tag {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background: black;
    z-index: 9;
    padding: 8px 20px;

    a {
      font: 400 14px/12px  'Arial';
      color: #ffffff;
      text-decoration: none;
    }
  }

  &Info {
    width: 100%;
    max-width: 587px;
    @media screen and (max-width: 1260px) {
      margin-right: 104px;
    }
    @media screen and (max-width: 900px) {
      margin-right: 0;
      max-width: none;
    }
  }

  &Date {
    font: 400 14px/140%  'Arial';
    color: #000000;
    margin-bottom: 40px;

    @media screen and (max-width: 500px) {
      font: 400 16px/140%  'Arial';
      margin-bottom: 20px;
    }
  }

  &Description {
    font: 400 18px/140% 'Arial';
    color: #000000;
    margin-bottom: 40px;
    @media screen and (max-width: 500px) {
      font: 400 14px/140%  'Arial';
      margin-bottom: 20px;
    }

    span {
      font: 700 18px/140% 'Arial';
      color: #000000;
      border-bottom: 2px solid #000000;
    }
  }

  &BtnMobile {
    display: none;

    @media screen and (max-width: 500px) {
      display: block;
      width: 100%;
      font: 400 14px/140% 'Arial';
      color: #FFFFFF;
      padding: 10px 0;
      background: #000000;
      margin-top: 20px;
    }
  }

  &Button {
    font: 400 14px/100% 'Arial';
    background: transparent;
    border: 1px solid black;
    padding: 8px;
  }

  &Left {
    flex-direction: row-reverse;
    align-items: start;
    @media screen and (max-width: 900px) {
      flex-direction: column;
    }

    &Img {
      width: 300px;
      height: 240px;
      @media screen and (max-width: 1260px) {
        width: 300px;
        height: 240px;
      }
      @media screen and (max-width: 900px) {
        width: 100%;
        height: 360px;
      }

      img {
        @media screen and (max-width: 1260px) {
          width: 300px;
          height: 240px;
        }
        @media screen and (max-width: 900px) {
          width: 100%;
          height: 360px;
        }
      }
    }

    &Info {
      max-width: calc(100% - 320px);
      @media screen and (max-width: 1260px) {
        margin-right: 0;
      }
      @media screen and (max-width: 900px) {
        max-width: 100%;
      }
    }

    &Date {
      margin-bottom: 15px;
    }
  }

  &Two {
    align-items: flex-start;
    @media screen and (max-width: 1280px) {
      flex-direction: column;
    }

    &Images {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
    }

    &Info {
      max-width: calc(100% - 650px);
      @media screen and (max-width: 1280px) {
        max-width: 100%;
      }
    }

    &Img {
      width: 300px;
      height: 240px;
      @media screen and (max-width: 1280px) {
        width: 100%;
        height: 360px;
      }

      &:last-child {
        margin-left: 30px;
        @media screen and (max-width: 600px) {
          display: none;
        }
      }

      img {
        @media screen and (max-width: 1280px) {
          width: 100%;
          height: 360px;
        }
      }
    }
  }
}

